body{
	font-family: Lato;
	line-height: 1.5;
	margin: 0;
	width: 100%;

}
h1 {
	color:black;
	font-size: 30px;
	text-align: center;
}
.container {
	width: 100%;
	margin: 0 auto;
}

nav {
	
	background: black;
    text-transform: none;
    width: 100%;
    padding: 20px;
    margin: 0;
  	text-align: right;
  	
}

.intro h2, h3 {
	margin:0;
	padding:0;

}

.intro p {
	max-width:600px;
}

.cursive {
	font-family: 'La Belle Aurore', cursive;
	font-size: 24px;
}

nav a {
	color: white;
    text-decoration: none;
    padding: 30px;
}

nav a:hover {
	background:#984B43;
}


header {
	overflow: hidden;
/*	position:fixed;
	width:100%;
	margin-bottom:400px;*/
}

header .logo {
	float:left;
	font-family: 'La Belle Aurore', cursive;
	font-size: 30px;
	text-decoration: none;
	color: white;
	margin-top:10px;
}

.homebanner {
	width:100%;
	display:flex;
	margin-top:10px;
}

.imgfade {
	display:none;
	width:20%;
	max-height:273.19px;
	
}

.cover {
  object-fit: cover;
}	

.grid-block-container img {
	width:100%;
	height:100%;
}

.grid-block-container {
	float: left;
	width: 100;
	margin: 20px 0 0 -30px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

}
.grid-block {
	position: relative;
	float: left;
	width: 45%;
	margin: 0 0 30px 30px;
}
.caption {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	background: url(images/trans-black-50.png);
	width: 100%;
	height: 100%;
}
.caption h3, .caption p, .caption h4 {
	color: #fff;

}
.caption h3 {
/*	margin: 20px 20px 10px;*/
	font-size: 2em;
	padding: 0px;
	margin: 20px 0 0 20px;

}
.caption h4 {
	margin-left: 20px;
	padding: 0px;
    margin: 0 0 20px 20px;
    font-family: 'La Belle Aurore', cursive;
	
}
.caption p {
	font-size: 1em;
	line-height: 1.5em;
	margin: 0 20px 15px;
}
.caption a.learn-more {
	padding: 5px 10px;
	background: #984B43;
	color: #fff;
	border-radius: 2px;
	-moz-border-radius: 2px;
	font-weight: bold;
	text-decoration: none;
}
.caption a.learn-more:hover {
	background: #fff;
	color: black;
}

#burger {
	display:none;
	float:right;
}

.blog-post {
	display:flex;
	justify-content: center;
}
.blog-image {
	width: 600px;
	height: 450px;
}
.blog-image img {
	width: 100%;
	height:100%;
}
}
section{
	width: 60%;
	margin-left: 30px;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
  display: flex;
  justify-content: flex-end;
}
.mobile-nav {
	display:none;
}

.mobile-nav a{
	display: block;
	text-align: center;
	padding:5px;
}
footer img {
	margin: 0 0 0 15px;
}
/*section p {
	width:20%;
}*/
aside {
	width:20%;
	margin-left:150px;
}

aside a {
	text-decoration: none;
	color:black;
}

aside a:hover {
	color:#984B43;
}
@media (max-width:965px){
	body { 
	font-size: 16px;
}
	

}
@media (max-width:400px){
	body {
		font-size:12px;
	}
	nav a {
		display: none;
	}
	#burger {
	display:block;
	width:20px;
	height:20px;
	}

	header img {
		width: 150px;
	}
	.homebanner {
	width:100%;
	display:flex;
	flex-direction: column;
	}
	.imgfade {
	width: 400px;
	height: 400px;
	}
	footer {
		display:none;
	}

}
