
body {
	margin:0;
	font-family: "Source Sans Pro";
}
header{
	background: black;
	color: yellow;
	overflow:auto;
	padding: 0;
	border-bottom: yellow 10px solid;
}
h1 {
	font-family: 'Merriweather' serif;
	margin: 0;
}

h2 {
	margin:0;
	text-align:center;
}

nav{
	padding-top: 10px;
	margin:0;
}

nav a {
	color: white;
	text-decoration: none;
	padding-left: 3px;
}

.tagline {
	font-family: 'Merriweather';
	background: #C6C6C6;
}

.floatright {
	float:right;
	width:320px;
}

.clear {
	clear:both;
}

.floatleft {
	float:left;
	width:320px;
}

.container {
	width:960px;
	margin:0 auto;
}

section{
	background-image:url("../img/coworking.jpg");
	background-position: center;
	overflow: auto;
	height:400px;
	background-size: cover;
	
}
aside{
	background:rgba(255,255,255, 0.5);
	width: 400px;
	padding: 30px;
	margin-top: 70px;
}

aside p{
	width: 350px;
}

.button{
	font-family: "Oswald";
	background: yellow;
	text-align: center;
}